<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar">
      <a class="navbar-brand" href="#" [innerHTML]="appName"></a>

      <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#">
          Home <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link" href="#">Checkout</a>
        <a class="nav-item nav-link" href="#">Create Account</a>
        <a class="nav-item nav-link" href="#">Login</a>
      </div>

      <db-cart-menu></db-cart-menu>
    </div>
  </div>
</nav>