.landing-col {
    background: url('products/slide-1-870x480.jpg') no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    min-height: 171px;
}

.first-col {
    background: url('products/bakery/product-04-270x171.png') no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 171px;
}

.second-col {
    background: url('products/dairy/product-17-270x171.png') no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 171px;
}

.third-col {
    background: url('products/meat/product-01-270x171.png') no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 171px;
}