<div class="card-deck-wrapper">
    <div class="card-deck">
        <!-- Card 1 , Normal -->
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/270x171" width="100%" alt="pizza italy">
            <div class="card-block">
                <h4 class="card-title">Title</h4>
                <p class="card-text">This is a wide text card with the text content as naturally associated with the card image.Or may be a bit
                    longer.</p>
                <p class="card-text"><small class="text-muted">Posted 2 hours ago</small></p>
            </div>
        </div>
        <!-- Card 2 , smaller -->
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/270x171" width="100%" alt="pizza italy">
            <div class="card-block">
                <h4 class="card-title">Title</h4>
                <p class="card-text">The Text Content of the Card is shorter in proportion to the size of the card.</p>
                <p class="card-text"><small class="text-muted">Posted 1 hour ago</small></p>
            </div>
        </div>
        <!-- Card 3 , Larger -->
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/270x171" width="100%" alt="pizza italy">
            <div class="card-block">
                <h4 class="card-title">Title</h4>
                <p class="card-text">This is a wide text card with the text content as naturally associated with the card image.The text length
                    is this card has been made longer but the size of the card remains same as that of other cards in the
                    group.</p>
                <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="card-deck">

        <!-- Card 4 , Normal -->
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/270x171" width="100%" alt="pizza italy">
            <div class="card-block">
                <h4 class="card-title">Title</h4>
                <p class="card-text">This is a wide text card with the text content as naturally associated with the card image.Or may be a bit
                    longer.</p>
                <p class="card-text"><small class="text-muted">Posted 2 hours ago</small></p>
            </div>
        </div>
        <!-- Card 5 , smaller -->
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/270x171" width="100%" alt="pizza italy">
            <div class="card-block">
                <h4 class="card-title">Title</h4>
                <p class="card-text">The Text Content of the Card is shorter in proportion to the size of the card.</p>
                <p class="card-text"><small class="text-muted">Posted 1 hour ago</small></p>
            </div>
        </div>
        <!-- Card 6 , Larger -->
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/270x171" width="100%" alt="pizza italy">
            <div class="card-block">
                <h4 class="card-title">Title</h4>
                <p class="card-text">This is a wide text card with the text content as naturally associated with the card image.The text length
                    is this card has been made longer but the size of the card remains same as that of other cards in the
                    group.</p>
                <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
            </div>
        </div>

    </div>
    <!-- ./card-deck -->
</div>
<!-- ./card-deck-wrapper -->